*{
    font-weight: 600;
}
.date, .amount, .note, .account, .type, .flag, .edit{
    border:1px solid white;
    padding:4px;
}
.date, .amount, .account, .edit, .type, .flag{
    text-align: center;
}
.positive{
    background-color: rgb(126, 250, 115);
}
.negative{
    background-color: rgb(247, 110, 110);
}
.date{
    width:7%;
}
.amount{
    width:5%;
}
.note{
    width:51%;
}
.account{
    width:18%;
}
.edit{
    width:15%;
}
/* BARVY */
.manual{
    background-color: #F95454;
    cursor: pointer;
}
.updated{
    background-color: #77CDFF;
    cursor: pointer;
}
.generated{
    background-color: #0D92F4;
    cursor: pointer;
}
/* ROW */
.row:hover{
    background-color: rgb(87, 87, 87);
}

.typeDropdown {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    z-index: 1000;
    width:6%;
    overflow-y: auto; 
}
.flagDropdown {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    z-index: 1000;
    width:6%;
    overflow-y: auto; 
}
.dropdown-item {
    padding: 8px; /* Padding for each item */
    cursor: pointer; /* Change cursor on hover */
}
.dropdown-item:hover {
    background-color: rgb(87, 87, 87); /* Highlight on hover */
}
.off{
    opacity: 45%;
}
i{
    cursor: pointer;
}
/* STATS */
.stats_container{
    display:flex;
    flex-direction: column;
    width:200px;
}
.container_top{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-bottom:10px;
}
.header{
    padding:6px;
    border: 1px solid white;
}
.stat_amount{
    padding:6px;
    border: 1px solid white;
}
.container_bottom{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.type_container{
    display:flex;
    flex-direction: column;
}