.date, .amount, .note, .account, .type, .edit, .manual{
    border:1px solid white;
    padding:4px;
}
.date, .amount, .account, .edit, .type, .flag, .manual{
    text-align: center;
}
.type,.flag{
    border:1px solid white;
}
.positive{
    background-color: rgb(126, 250, 115);
}
.negative{
    background-color: rgb(247, 110, 110);
}
.date{
    width: 5%;
}
.amount{
    width:5%;
}
.note{
    width:61%;
}
.account{
    width:10%;
}
.edit{
    width:15%;
}
.flag{
    width:7%;
}
.manual{
    background-color: rgb(255, 0, 0);
}
.manual-col{
    background-color: rgb(255, 0, 0);
}
.type2{
    width:10%;
}
.row:hover{
    background-color: rgb(87, 87, 87);
}
.typeDropdown {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    z-index: 1000;
    width:6%;
    overflow-y: auto; 
}

.dropdown-item {
    padding: 8px; /* Padding for each item */
    cursor: pointer; /* Change cursor on hover */
}

.dropdown-item:hover {
    background-color: rgb(87, 87, 87); /* Highlight on hover */
}
