<!DOCTYPE html>
<html lang="cs" class="flex w-[100%] h-[100%]">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Accounting v3</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <script src="{{ url_for('static', filename='js/edit_types.js') }}"></script>
        <script src="{{ url_for('static', filename='js/edit_flags.js') }}"></script>
        <script src="{{ url_for('static', filename='js/edit_onoff.js') }}"></script>
        <script src="{{ url_for('static', filename='js/update_stats.js') }}"></script>

        <script src="https://kit.fontawesome.com/230a478f67.js" crossorigin="anonymous"></script>



        <!--
        <script src="{{ url_for('static', filename='js/edit_modal.js') }}"></script>
        <script src="{{ url_for('static', filename='js/edit_dropdown.js') }}"></script>
        -->
    </head>
    <body class="flex flex-col w-[100%] h-[100%] bg-zinc-950">
        <div id="modal_overlay" class="modal-overlay"></div>
            <div id="modal" class="rounded"></div>
        <div id="close_modal"></div>
        <div class="flex justify-center items-center w-[100%] bg-black text-white">
            <div class="flex">
                <a href="{{ url_for('home') }}" class="px-[20px] py-[10px] hover:bg-zinc-900">Home</a>
                <a href="{{ url_for('edit') }}" class="px-[20px] py-[10px] hover:bg-zinc-900">Data</a>
                <a href="{{ url_for('settings') }}" class="px-[20px] py-[10px] hover:bg-zinc-900">Settings</a>
                <a href="#" class="px-[20px] py-[10px] hover:bg-zinc-900">About</a>
                <a href="#" class="px-[20px] py-[10px] hover:bg-zinc-900">Contact</a>
            </div>
        </div>
        <div class="flex w-[100%] h-[100%]">
            <div class="flex flex-col w-[10%] h-[100%] text-white">
                <p class="p-[20px] text-2xl">Filters</p>
                <div class="flex flex-col ml-[20px]">
                    <form method="get" action="/edit">
                        <div class="flex flex-col">
                            <label class="block">
                                <input class="leading-tight" name="value" value="positive" type="checkbox">
                                <span class="text-lg">Positive</span>
                            </label>
                            <label class="block">
                                <input class="leading-tight" name="value" value="negative" type="checkbox">
                                <span class="text-lg">Negative</span>
                            </label>
                            <button type="submit" class="bg-white text-black w-[70px] h-[25px]" name="filter" value="true">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="flex flex-col w-[100%]">
                {% for row in data %}
                <div class="flex flex-col {{ row.status }}" id="row-{{ row._id }}" >
                    <div class="row flex text-white">
                        <div class="date">{{ row.date }}</div>
                        {% if row.value == "positive" %}
                            <div class="amount positive">{{ row.amount }}</div>
                        {% else %}
                            <div class="amount negative">{{ row.amount }}</div>
                        {% endif %}
                        <div class="account">{{ row.account }}</div>
                        <div class="note pl-[10px]">{{ row.note }}</div>
                        <div class="flex flex-col w-[7%]">
                            <div class="type {{ row.type_status }}" onclick="showTypes('{{ row._id }}')" id="type-{{ row._id }}">{{ row.type }}</div>
                            <div class="typeDropdown" id="ty-{{ row._id }}" style="display: none;"></div>
                        </div>
                        <div class="flex flex-col w-[7%]">
                            <div class="flag {{ row.flag_status }}" onclick="showFlags('{{ row._id }}')" id="flag-{{ row._id }}">{{ row.flag }}</div>
                            <div class="flagDropdown" id="fl-{{ row._id }}" style="display: none;"></div>
                        </div>
                        <div class="edit">
                            <div class="flex justify-around"><i class="fa-solid fa-power-off" onclick="turnONOFF('{{ row._id }}')"></i><i class="fa-solid fa-pencil"></i></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="stats flex flex-col w-[100%]">
                    <div class=" text-5xl m-auto my-[30px]">Stats</div>
                    {% for row in stats %}
                        <div class="flex justify-around m-auto w-[20%]">
                            <div class="p-[5px] border-[1px] border-white w-[50%]">{{ row[0] }}</div>
                            <div class="p-[5px] border-[1px] border-white w-[50%] {% if row[1]|int > 1 %}positive{% elif 0 > row[1]|int%}negative{% endif %}" id="{{ row[0] }}">{{ row[1] }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>