<!DOCTYPE html>
<html lang="cs" class="flex w-[100%] h-[100%]">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Accounting v3</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body class="flex flex-col w-[100%] h-[100%] bg-zinc-900 ">
        <div class="flex justify-center items-center w-[100%] bg-black text-white">
            <div class="flex">
                <a href="{{ url_for('home') }}" class="px-[20px] py-[10px] hover:bg-zinc-900">Home</a>
                <a href="{{ url_for('edit') }}" class="px-[20px] py-[10px] hover:bg-zinc-900">Data</a>
                <a href="#" class="px-[20px] py-[10px] hover:bg-zinc-900">About</a>
                <a href="#" class="px-[20px] py-[10px] hover:bg-zinc-900">Contact</a>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center w-[100%] h-[100%]">
            <div class="flex justify-center items-center w-[50%] mb-[20px]">
                <a href="#" class="px-[40px] py-[20px] bg-black text-white text-center">Upload new data</a>
            </div>
            <div class="flex justify-center items-center w-[50%]">
                <a href="{{ url_for('edit') }}" class="px-[40px] py-[20px] bg-black text-white text-center">Edit data</a>
            </div>
        </div>
    </body>
</html>