<!DOCTYPE html>
<html lang="cs" class="flex w-[100%] h-[100%]">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Accounting v3</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <script src="https://kit.fontawesome.com/230a478f67.js" crossorigin="anonymous"></script>
    </head>
    <body class="flex flex-col w-[100%] h-[100%] bg-zinc-950">
        <div id="modal_overlay" class="modal-overlay"></div>
            <div id="modal" class="rounded"></div>
        <div id="close_modal"></div>
        <div class="flex justify-center items-center w-[100%] bg-black text-white">
            <div class="flex">
                <a href="{{ url_for('home') }}" class="px-[20px] py-[10px] hover:bg-zinc-900">Home</a>
                <a href="{{ url_for('edit') }}" class="px-[20px] py-[10px] hover:bg-zinc-900">Data</a>
                <a href="{{ url_for('stats') }}" class="px-[20px] py-[10px] hover:bg-zinc-900">Stats</a>
                <a href="{{ url_for('settings') }}" class="px-[20px] py-[10px] hover:bg-zinc-900">Settings</a>
                <a href="#" class="px-[20px] py-[10px] hover:bg-zinc-900">About</a>
                <a href="#" class="px-[20px] py-[10px] hover:bg-zinc-900">Contact</a>
            </div>
        </div>
        <div class="flex w-[100%] h-[100%]">
            <div class="flex flex-col w-[10%] h-[100%] text-white">
                <p class="p-[20px] text-2xl">Filters</p>
                <div class="flex flex-col ml-[20px]">
                    <form method="get" action="/edit">
                        <div class="flex flex-col">
                            <label class="block">
                                <input class="leading-tight" name="positive" value="true" type="checkbox">
                                <span class="text-lg">Positive</span>
                            </label>
                            <label class="block">
                                <input class="leading-tight" name="negative" value="true" type="checkbox">
                                <span class="text-lg">Negative</span>
                            </label>
                            <button type="submit" class="bg-white text-black w-[70px] h-[25px]" name="filter" value="true">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="flex w-[100%] text-white justify-around">
                {% for flag in stats%}
                    <div class="stats_container">
                        <div class="container_top">
                            <div class="header">{{ flag[0] }}</div>
                            <div class="stat_amount {% if flag[1]|int > 0%}positive{% elif 0>flag[1]|int %}negative{% endif %}">{{ flag[1] }}</div>
                        </div>
                        <div class="container_bottom">
                            {% for type in flag[2] %}
                                <div class="type_container">
                                    <div class="header">{{ type[0] }}</div>
                                    <div class="stat_amount {% if type[1]|int > 0%}positive{% elif 0>type[1]|int %}negative{% endif %}">{{ type[1] }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>